@{
  ViewData["Title"] = "User Page";
}

<div class="text-center">
    <h3>@Model.GivenName</h3>
  <h3>@Model.Name</h3>
    [<h3>@Model.Mail</h3>]

 @*
  <h1 class="display-4">Welcome @Model.DisplayName</h1>
 *@
 
</div>
 